.movie-cards, .card-group {
    margin-top: 10px;
}

.card-img-top {
   max-width: 300px; 
   max-height: 250px;
}

.card {
    margin-right: 10px;
}

.card-body {
    display: flex;
    flex-direction: column;
  }

  footer  {
    background-color: #1c2331;
    color: white;
    margin-top: 30px;
  }

  footer div ul li a {
    color: white;
  }
  